
* { margin: 5px; box-sizing: border-box; } 

body { 
    font-size: 16pt; 
    line-height: 16pt;
    font-family: 'Times New Roman', Times, serif;
    color: #2e0b16;
}

h1 {
    font-size: 4rem;
    color: #2e0b16;
}

h2 {
    font-size: 3rem;
    text-align: center;
    border-bottom: 1px solid #2e0b16;
}

header, main, footer {
    margin: 5px;
    padding: .5rem;
    max-width: 180px;
}

header, footer, footer a {
    text-align: center;
    background-color: tan;
    color: #2e0b16;
}

header img {
    width: 100%;
    height: auto;
    float: right;
}

footer {
    font-size: .5rem;
}

