/* Stylesheet small.css */

@import url('https://fonts.googleapis.com/css?family=Merriweather');

h1 {
    font-size: 2rem;
    color: #313335;
    }
h2 {
    font-size: 1.5rem;
    text-align: left;
    color: #5e6266;
    }
h3 {
    font-size: 1rem;
    color: #5e6266;    
    }
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-self: center;
    font-family: 'Merriweather', serif;
    background-color: #83b8e7;
    text-align: center;
    color: #313335;
    }
header img {
    vertical-align: middle;
    width: 40px;
    height: 60px;
    float: left;
    margin: 10px;
    }
header .top {
    display: flex;
    flex-direction: column;
    }
header .brand {  
    float: right;
    width: 100%;
    font-size: 2rem;
    padding-top: 10px;
    }
header .motto {
    font-size: .7rem;
    font-style: italic;
    padding-bottom: 10px;
    }
nav {
    display: flex;
    justify-content: center;
    width: 98.5%;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #313335;  
    position: absolute;
    z-index: 1;
    }
nav .hide {
    list-style: none; 
    text-align: center;
    }
nav .hide li:first-child {
    display: block !important;
    }
nav .hide li {
    display: none;
    }
nav .show li {
    display: block !important;
    }
nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #5e6266;
    font-size: 1rem;
    }
nav li a {
    color: #313335;
    padding: 0px 16px;
    text-decoration: none;
    font-size: .8rem;
    }
nav li a:hover {
    background-color: #313335;
    color: #83b8e7;
    }
nav li a.active {
    background-color: #83b8e7;
    color: #313335;
    border-style: solid;
    border-color: #555555
    }
nav li a:hover:not(.active) {
    background-color: #555555;
    color: #83b8e7;
    }
#place {
    font-family: 'Merriweather', serif;
    display: block;
    padding-top: 40px;
    text-align: center;
    margin: 30px;
    font-size: 2rem;
    color: #555555;
    }
form {
    font-family: 'Merriweather', serif;
    width: 400px;
    margin: auto;
    }
fieldset {
    width: 40vw;
    }
form legend {
    padding: 10px 5px;
    font-size: 1.8rem;
    color: #555555;
    }
form select, input:nth-child(n+2) {
    margin: 10px 0px;
    }
form input #submit{
    background-color: #83b8e7;
    color: #555555;
    }
#buttonsubmit {
    padding: 20px 0px;
    }
form #ratingvalue {
    color: #555555;
    }    
#submit {
    background-color: #83b8e7;
    color: #555555;
    }
#submit:hover {
    box-shadow: 3px 3px 6px gray;
    color: white;
    }
#submitbutton {
    padding: 10px 0px;
    } 
#stormtitle {
    text-align: center;
    padding: 50px;
    font-size: 2rem;
    } 
#thankyou {
    padding: 0px 50px 100px;
    text-align: center;
    }
main img { 
    width: 100%;
    height: auto;
    margin: 0px;
    }
main .gallery {
    display: grid;
    padding: 0 2%;
    grid-template-columns: repeat(1, 100%);
    }
main .gallery figure img {
    width: 100%;
    height: auto;
    }
main .gallery figure figcaption {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 1.2rem;
    padding: 2% 1%;
    }   
#weathsumm {
    display: block; 
    position: absolute;
    top: 250px;
    left: 20px;
    width: 150px;
    height: 160px;
    margin-left: 5%;
    color: #313335;
    padding: 10px;
    font-size: 1rem;
    background-color: rgba(255,255,255,0.5);
    border: solid 1px black; 
    box-shadow: 2px 2px 2px 2px;
    }
#forecast {
    display: none;
    }
#townEvent {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    grid-column-gap: 10%;
    }
#townEvent img {
    margin: 20px auto;
    grid-column-start: 3;
    grid-row-start: 1;
    }
#townEvent Article {
    grid-column-start: 2;
    grid-row-start: 1;
    padding: 10px;
    }
#homeImage {
    margin: 20px 0px;
    }
#homeTowns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    border-radius: 20px;
    max-width: 1000px;
    margin-top: 30px;
    padding: 20px 30px;
    }
#homeTowns article {
    border: 1px solid #313335;
    text-align: center;
    box-shadow: 3px 3px 10px #555555;
    }
#homeTowns h2 {
    text-align: center !important;
    }
footer {
    font-family: 'Merriweather', serif;
    color: #313335;
    font-size: 10pt;
    }
footer aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #83b8e7;
    }
footer p {
    margin: 0px 0px;
    }
footer p:first-child {
    font-size: 1rem;
    margin: 1rem 0rem;
    }
footer .contact{
    display: inline-flex;
    flex-flow: column wrap;
    align-self: center;
    }
footer img {
    width: 40%;
    height: auto;
    margin: 1rem;
    border: solid 1px black;
    }
footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #83b8e7;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    font-size: .7rem;
    }