/* Stylesheet large.css */

@media only screen and (min-width: 75rem) {

    nav {
        display: flex;
        justify-content: left;
        font-family: 'Source Sans Pro', sans-serif; 
        background-color: #f4f7f7;
        color: #075294;
        width: 98.5%; 
        border-bottom: 1px solid;
        margin-left: 100px;
    }
    /*nav .hide {
        display: inline;
    }
    */
    nav .hide li {
        display: inline;
    }
    nav #menuHam {
        display: none;
    }
    nav h2 {
        text-align: center;
        color: #313335;
    }
    nav ul {
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }
    nav li a {
        float: left;
        color: #cc4f64;
        background-color: #f4f7f7;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 1.3rem;
    }
    nav a:hover {
        background-color: #f4f7f7;
        color:#cc4f64;
    }
    nav a.active {
        background-color: #f4f7f7;
        color: #075294;
    }
    nav li a:hover:not(.active) {
        background-color: #f4f7f7;
        color: #075294;
    }
    main img{
        position: relative;
        border-bottom: 1px solid;
    }

}