/* Stylesheet small.css */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/* font-family: 'Source Sans Pro', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
/* font-family: 'Great Vibes', cursive; */
/* colors-- med-blue: #075294 off-white: #f4f7f7  
   berry-red: #d30c2d med-gray: #7f7f7f */
   

h1 {
    font-family: 'Great Vibes', cursive; 
    font-size: 2rem;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1.7rem;
}
h3{
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1rem;
}

#topPage{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    background-color:#075294;
    border-bottom: 1px solid; 
}
#topPage img{
    width: 60px;
    height: auto;
}
nav {
    display: flex;
    justify-content: center;
    width: 98.5%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif; 
    color:#7f7f7f;
    position: absolute;
    z-index: 1;
}
nav .hide {
    list-style: none; 
    text-align: center;
}
nav .hide li:first-child {
    display: block !important;
}
nav .hide li {
    display: none;
}
nav .show li {
    display: block !important;
}
nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #5e6266;
    font-size: 1rem;
}
nav li a {
    color: #313335;
    padding: 0px 16px;
    text-decoration: none;
    font-size: .8rem;
}
nav li a:hover {
    background-color: #313335;
    color: #83b8e7;
}
nav li a.active {
    background-color: #83b8e7;
    color: #313335;
    border-style: solid;
    border-color: #555555
}
nav li a:hover:not(.active) {
    background-color: #555555;
    color: #83b8e7;
}
#hq-map {
    width: 60px;
    height: auto;
    border: 1px solid #555555;
}
footer #copyright {
    display: flex; 
    justify-content: center;
    align-items: center;
    background: #075294;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .7rem;
}
footer #copyright p:nth-of-type(2n) {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px;
}