@import url('https://fonts.googleapis.com/css?family=Merriweather');

header {
    background-color: #83b8e7;
}
header h1 {
    padding-left: 12px;
    font-size: 24 px;
    color: #313335;
    text-align: center;
}
.motto {
    font-style: italic;
    text-align: center;
    color: #313335;
}
body {
    font-size: 16px;
    line-height: 32px;
    font: 'Merriweather', 'Times New Roman', serif;
    color: black;
}
nav {
    font: Merriweather;
    color: #313335;
    font-size: 1rem;
    text-align: center;
}
h1 {
    font: Merriweather;
    font-size: 2rem;  /*(rem is a unit of measure) */
    color: #313335;
}
h2 {
    font-size: 1.5rem;
    text-align: left;
    color: #5e6266;
}
h3 {
    font-size: 1rem;
    color: #5e6266;    
}
header, main, footer {
margin: .5rem auto;
padding: .5rem;
max-width: 780px;
}
header img {
width: 40%;
height: 40%;
float: left;
}
footer {
font-size: 10pt;
}