/* tablebuild.css */

table {
    table-layout: fixed;
    width: 100%;
    border: 2px solid black;
    font-family: "Ubuntu", sans-serif;
}
thead {
    background-color: #7fb9c2;
    text-align: center;
}
tbody:nth-child(1) {
    background-color: #628ca6;
    color: white;
}
tbody:nth-child(2n) {
    background-color: #e7f0ed;
}
tbody:nth-child(2n+1) {
    background-color: #e7ffed;
}
tfooter {
    background-color: #628ca6;
    text-align: center;
}