/* Stylesheet small-5.css */

header {
    font-family: 'Merriweather', serif;
    background-color: #83b8e7;
    margin: 24px;
    }
header img {
    width: 20%;
    height: 20%;
    float: left;
    padding: 12px;
    }
.brand {
    font-size: 2rem;
    color: #313335;
    text-align: center;
    }
.motto {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    color: #313335;
    }
main img{
    width: 100%;
    }
.weathsumm {
    width: 300px;
    height: 300px;
    color: #5e6266;
    }
nav h2 {
    text-align: center;
    color: #313335;
    }
nav {
    background-color: #83b8e7;
    text-align: center;
    
    }
nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #5e6266;
    }
nav li a {
    color: #313335;
    padding: 8px 16px;
    text-decoration: none;
    }
nav li a:hover {
    background-color: #313335;
    color: white;
    }
h1 {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: #313335;
    }
h2 {
    font-size: 1.5rem;
    text-align: left;
    color: #5e6266;
    }
h3 {
    font-size: 1rem;
    color: #5e6266;    
    }
header, main, nav, footer {
    margin: .5rem auto;
    padding: .5rem;
    max-width: 780px;
    }
footer {
    font-size: 10pt;
    }
